<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wkw.fingerprintAuth" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>fingerprintAuth</name><js-module name="fingerprintAuth" src="www/fingerprintAuth.js"><clobbers target="fingerprintAuth" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="fingerprintAuth"><param name="ios-package" value="fingerprintAuth" /></feature></config-file><header-file src="src/ios/fingerprintAuth.h" /><source-file src="src/ios/fingerprintAuth.m" /><header-file src="src/ios/TouchIDManager.h" /><source-file src="src/ios/TouchIDManager.m" /><framework src="src/ios/LocalAuthentication.framework" custom = "true" /></platform></plugin>
